body{
    margin: 0;
}
.kunavel{
    border:10px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: yellowgreen;
    padding: 20px;
    
    
}
.maran{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border:10px solid red;
 margin: 10px;
    padding:10px;
      
}
.kunavell{
   border:10px solid orangered;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color:green;
    padding: 20px;
    
}
.marann{
    
    background-color:  blueviolet;
    width: 50px;
    height: 50px;
    border:10px solid lawngreen;
 margin: 10px;
    padding:10px;
      
}
.c{
    display: flex;
    border: 10px solid olivedrab;
    background-color: rgb(202, 23, 127);
    margin-right: 800px;
    padding: 20px;
}
